<div class="comments">
  {{#if comments}}
    {{#if hasMoreComments}}
      <div class="comments-header">
        <div class="comment-total">Exibindo {{comments.length}} de {{meta.count}} comentarios</div> -
        <button {{action 'loadAllComments'}}> mostrar todos?</button>
      </div>
    {{else}}
      <div class="comment-total">Exibindo {{comments.length}} comentario(s)</div>
    {{/if}}
  {{/if}}
  {{render 'comments/list' comments}}
</div>